# === Archivos de Flutter/Dart ===
# Metadatos y herramientas
.dart_tool/
.packages

# Dependencias generadas
.flutter-plugins
.flutter-plugins-dependencies

# Archivo de Firebase (generado localmente)
lib/firebase_options.dart

# Archivos de Build y Cobertura
build/
/coverage/

# Símbolos de compilación y ofuscación
app.*.symbols
app.*.map.json

# === Plataforma: Android ===
android/key.properties
android/local.properties
android/.gradle/
android/app/build/
/android/app/debug
/android/app/profile
/android/app/release

# === Plataforma: iOS ===
ios/Pods/
ios/Podfile.lock
ios/Flutter/App.xcframework
ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/.last_build_id

# === IDEs y Editores (IntelliJ, VS Code) ===
.idea/
*.iml
*.ipr
*.iws
#.vscode/

# === Misceláneos y Archivos de OS ===
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
